{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="cover">
            <h2>Commencez votre voyage</h2>
            <p>Trouvez un guide dans la ville que vous souhaitez visiter ou publiez un voyage pour être contacté.</p>
            <a href="#" class="btn">Voyager !</a>
        </div>

        <div class="sign-in">
            <h2>Prêt à voyager ? C'est parti !</h2>
            <a href="#" class="btn">S'inscrire</a>
        </div>

        <div class="most-visited">
            <a href="#">
                <img src="" alt="Previous">
            </a>

            <ul class="gallery">
                <li>
                    <a href="#"><img src="" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="" alt=""></a>
                </li>
            </ul>

            <a href="#">
                <img src="" alt="Next">
            </a>
        </div>

        <div class="how-it-works">
            <h2>Comment ça marche ?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
        </div>

        <div class="waiting-for-you">
            <h2>Ils vous attendent !</h2>

            <ul>
                <li>
                    <a href="#">
                        <img src="" alt="">
                        <p>Name</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                           Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="" alt="">
                        <p>Name</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                           Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="" alt="">
                        <p>Name</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                           Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="" alt="">
                        <p>Name</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                           Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
                    </a>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}
