/* GENERAL */

body {
    font-family: 'Raleway', sans-serif;
}

a { text-decoration: none }

h3 {
    font-family: 'Raleway', "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    padding: 50px 10px;
}

.btn {
    background-color: transparent;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #ffa291;
    box-sizing: border-box;
    transition: background 0.4s ease-in-out;
}

.hvr-sweep-to-left:before, .hvr-sweep-to-right:before, .hvr-fade:hover {
    background: #ffa291;
    border-radius: 20px;
}

.border {
    background: url('../images/border.png');
    height: 10px;
    width: 100%;
}

/* HEADER */

header {
    background: url('../images/bg-header.jpg') 50% 50%;
}

.sub-header {
    background-color: rgba(255, 255, 255, 0.2);
}

h1 { display: inline-block; }

.header-logo {
    display: block;
    margin: 5px 20px;
}

nav {
    display: inline-block;
    float: right;
    margin: 15px 40px 0 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    font-family: 'Raleway', "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    padding-bottom: 2px;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    transition: border 0.4s ease-in-out;
}

.hvr-underline-from-left:before {
    background: white;
    height: 2px;
}

nav li a.lang {
    font-size: 10px;
}

nav li a.btn {
    margin-left: 50px;
}

/* COVER */

.cover {
    padding: 20px 10px;
    text-align: center;
}

.cover h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 150px 10px;
}

.cover p {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    color: white;
    max-width: 400px;
    margin: 0 auto;
}

.cover .btn {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
}

/* HOW IT WORKS ? */

.how-it-works h3 {
    color: #82bfba;
}

.how-it-works p {
    font-size: 14px;
    width: 95%;
    margin: 50px auto 0 auto;
    color: #2a2a2a;
    text-align: center;
}

/* MOST VISITED */

.most-visited {
    background-color: #82bfba;
    text-align: center;
}

.most-visited h3 {
    color: white;
}

.most-visited .gallery {
    margin-top: 20px;
}

.most-visited .gallery li {
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    transition: all 5s ease-in-out;
 }

.most-visited .gallery a {
    display: block;
    color: white;
}

.most-visited .gallery p {
    display: none;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0; right: 0;
 }

.most-visited .gallery img {
    transition: 0.5s ease-in-out;
}

.most-visited .gallery li:hover p {
    display: block;
}

.most-visited .gallery li:hover img {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.most-visited .gallery img {
    border: 10px solid white;
    box-sizing: border-box;
    width: 250px;
}

/* People */

.people {
    text-align: center;
    margin: 50px 0;
}

.people li {
    display: inline-block;
    width: 20%;
    margin: 0 10px;
}

.hvr-glow {
    border-radius: 100%;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

.people .name {
    color: #82bfba;
    margin: 10px 0 20px 0;
}

.people .desc {
    font-size: 13px;
    line-height: 15px;
    color: #2a2a2a;
}

/* Sign In */

.sign-in {
    background: url('../images/bg-footer.png') 50% 50%;
    background-size: cover;
    text-align: center;
}

.sign-in h3 {
    color: white;
}

.sign-in p {
    font-size: 14px;
    width: 40%;
    margin: 50px auto 0 auto;
    color: white;
    text-align: center;
}

.sign-in .btn {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
}